.title {
	margin-top: 2rem;
	letter-spacing: 0.25rem;
	font-size: 2rem;
	color: rgb(32, 32, 32);
	// background: -webkit-linear-gradient(
	// 	0deg,
	// 	rgba(143, 0, 124, 0.541),
	// 	rgb(0, 104, 148)
	// );
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
}
